* {
    font-family: 'Orbitron', sans-serif;
}

body {
    background-color: #403060;
    background-image: radial-gradient( circle, rgba(  0, 0, 0, 0 ) 0%, rgba( 0, 0, 0, 0.8 ) 100% );
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* #page {
    height: 100vh;
} */

a {
    margin-left: 7px;
    margin-right: 7px;
}

div {
    border: 1px solid white;
}

/* HOME */
#homeRow {
    display: flex;
    flex-direction: column;
    height: 98vh;
    margin: 0;
    top: 50%;
    align-items: center;
    justify-content: center;
    color: white;
}

#homeRow h1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#homeRow img {
    height: 50%;
    border: 4px solid black;
    border-radius: 50%;
    box-shadow: 0px 0px 40px rgba(221, 221, 10, 0.548);
}

/* ABOUT ME */
#abtLeft, #abtMid, #abtRight {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    height: 90vh;
    color: rgb(32, 233, 32);
}

/* SKILLS */
#sklLeft, #sklMid, #sklRight {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 60px;
    height: 90vh;
    color: hotpink;
}

/* PROJECTS */
#prjTop {
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: center;
    height: 15vh;
    color: yellow;
}

#prjRow2, #prjRow3 {
    justify-content: center;
}

#prjTopL, #prjTopM, #prjTopR {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 37vh;
    color: yellow;
    margin: 5px;
}

#prjBtmL, #prjBtmM, #prjBtmR {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 15px; */
    height: 37vh;
    color: yellow;
    margin: 5px;
}

/* #prjTop1, #prjTop2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 53vh;
    color: yellow;
} */

#pTopImg {
    max-height: 100%;
}

.pt:hover
{
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.text {
    opacity: 0;
}

.pt:hover .text {
    opacity: 1;
}

.ptlb {
    position: absolute;
    width: 500px;
    /* left:0; */
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
}

.ptlb a {
    width: 200px;
    padding: 12px 48px;
    text-align: center;
    color: white;
    border: solid 2px white;
    z-index: 1;
}

.pt:hover .ptlb {
    opacity: 1;
}

#pTopImg:hover #ptlBtn a {
    opacity: 1;
}

/* #pHW1Img {
    max-width: 100%;
} */

/* #pHW2Img {
    max-width: 100%;
} */

/* #prj1Pic, #prj1Det, #prj2Pic, #prj2Det {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    height: 30vh;
    color: yellow;
} */

/* #prj1Det, #prj2Det {
    display: block;
} */

/* TOGGLE CLASSES */
.hidden {
    display: none;
    visibility: hidden;
}

.glow {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }